.header__inline-menu ul {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.header__inline-menu ul.hidden {
    opacity: 0;
    transform: translateY(10px);
}

.header__inline-menu li:hover>ul {
    opacity: 1;
    transform: translateY(0);
}

li.menu-item:hover>a {
    color: #36393D;
}

.main-menu {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.12px;
    color: #222529;
    /* padding: 5px 20px 5px 20px; */
}

.white {
    color: #fff !important;
}